<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.dorothy.v2ex"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/V2exAppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TopicDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.UserInfoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.NotificationActivity">
        </activity>
    </application>

</manifest>